{% extends "layout.twig" %}

{% block content %}
<div class="span9">
	<div class="hero-unit">
	<h2>Hola, {{ user.name }}</h2>
	<p>Bienvenido al panel de control de Project envIA. <br/>Desde el panel de control podrás gestionar las simulaciones y usuarios de la plataforma.</p>
	<p><a href="envpanel/simulation/add" class="btn btn-primary btn-large">Empezar simulación</a></p>
	</div>
</div><!--/span-->


{% endblock %}